@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">One Player Scrabble</h1>
    <br />
    <br />

    <a asp-page="/NewGame" type="button" id="new-game">New Game</a>



</div>
